.wrapper{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2rem;
    .emoji{
        height: 30px;
    }
    .center{
        text-align: center;
        text-transform: uppercase;
    }
}