<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HBD swesthika</title>
    <link rel="stylesheet" href="./css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="./css/main.css" />
</head>

<body>

    <div id="App">

        <div id="wrapper" class="wrapper">
            <h2 class="center">Happy birthday angel</h2>
            <h4 class="center">Swesthika</h4>
            <hr />
            <section class="container About-me">
                <div>
                    <img src="" alt="" />
                    <h4>ANOUT ME</h4>
                </div>
                My name is Swasthika also known as kayal
                <img class="emoji" src="./assets/quien.jpg" alt="" /> My mothers
                friends, i'm an cute little kid, me born to Jayasree and Karthik Kumar.
                on Sunday, 16, 2018 right before my mum's exam
                <img class="emoji" src="./assets/cheeky.png" alt="" />
            </section>
            <section class="container">
                <h4>My galory <i class="material-icons red-text">camera_enhance</i></h4>
                <p>
                    As I'm an active kid <img class="emoji" src="./assets/chetha.png" /> i
                    used to do lots of fun stuffs
                    <img class="emoji" src="./assets//winkel.jpg" alt="" /> luckily my mum
                    filimes my actions <br />
                    <img class="emoji" src="./assets/me.jpg" alt="" />
                    <img src="./assets/knife.png" alt="" class="emoji" />
                    <img src="./assets/knife.png" alt="" class="emoji" />
                    to so that you could see my youth power.
                </p>
            </section>


            <div class="carosel-imgss">

                    <div class="carousel">
                        <a class="carousel-item" href="#one!" v-for="item in cards" :key="item.img">
                            <img :src="item.img">
                        </a>
                    </div>

            </div>



            <section class="cardes row">


                <div class="col s12" v-for="item in cards" :key="item.img">
                    <div class="card">
                      <div class="card-image">
                        <img class="waves-effect" :src="item.img" />
                      </div>
                      <div class="card-content">
                        <p>
                          {{item.title}}
                        </p>
                      </div>
                    </div>
                </div>


            </section>



        </div>





    </div>



    <script src="./js/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="./js/materialize.min.js"></script>
    <script src="./js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        var app = new Vue({
            el: '#App',
            data: {
                cards: [
                    {title:"This is me when my mum trys to byte me",img:"./assets/images/img1.jepg"},
                    {title:"This Is Me Posing For The Hollywood Movie",img:"./assets/images/img2.jpeg"},
                    {title:"Me Trying Mint Chocki",img:"./assets/images/img3.jpeg"},
                    {title:"Me Living The Life Of An Little Princess While Munching My Handkerchief",img:"./assets/images/img4.jpeg"},
                    {title:"Me Trying The Terror Face",img:"./assets/images/img5.jpeg"},
                    {title:"Me Trying The Inocent Face",img:"./assets/images/img6..jpeg"},
                    {title:"Me Reading For The First Time",img:"./assets/images/img7.jpeg"},
                    {title:"This Is Taken While I Getting Prepared For The World Champion Ship In Horse Racing",img:"./assets/images/img8.jpeg"},
                    {title:"Me Praying To For The First Time",img:"./assets/images/img9.jpeg"},
                    {title:"Me Munching My Fingers",img:"./assets/images/img10.jpeg"},
                    {title:"Me When I Won The Worldcup",img:"./assets/images/img11.jpeg"},
                    {title:"Me Lying On My Grandpa (Angel Mode Activated)",img:"./assets/images/img12.jpeg"},
                    {title:"Me When Got Blessed Me With Super Powers",img:"./assets/images/img13.jpeg"},
                    {title:"Me While Taking Rest",img:"./assets/images/img14.jpeg"},
                    {title:"Me Looking At The Mirror Deciding What Clothes To Buy",img:"./assets/images/img15.jpeg"},
                    {title:"Me Giving An Casual Pose",img:"./assets/images/img16.jpeg"},
                    {title:"Me After Winning The Horse Ryding Compertition",img:"./assets/images/img17.jpeg"},
                    {title:"Me Smiling At My Uncle Ajith",img:"./assets/images/img18.jpeg"},
                    {title:"Me Using My Mum Fancy Mobile Filter",img:"./assets/images/img19.jpeg"},
                    {title:"Me Trying Youcam Perfect For The First Time",img:"./assets/images/img20.jpeg"},
                    {title:"Me Smiling At My Mum And Dad",img:"./assets/images/img21.jpeg"},
                    {title:"With My Mum And Grandpa",img:"./assets/images/img22.jpeg"},
                    {title:"Me Using Fancy Camera Layout",img:"./assets/images/img23.jpeg"},
                    {title:"Me Pretending to be an",img:"./assets/images/img24.jpeg"},
                    {title:"Me Taking Selfi with my mum",img:"./assets/images/img25.jpeg"},
                    {title:"Got My Own Watch (Funny That I Don't Know How To Use It)",img:"./assets/images/img26.jpeg"},
                    {title:"Me Selfi With My Mum",img:"./assets/images/img27.jpeg"},
                    {title:"Me Woked At The Middle Of My Sleep",img:"./assets/images/img28.jpeg"},
                    {title:"Me Trying To Walk For The First Time",img:"./assets/images/img29.jpeg"},
                    {title:"Me Trying Out The Fluffy Dress",img:"./assets/images/img30.jpeg"},
                    {title:"Me Using My Side Vision",img:"./assets/images/img31.jpeg"},
                    {title:"Me With My Mum",img:"./assets/images/img32.jpeg"},
                    {title:"Me At Ninja Mode And My Mum Filiming Me",img:"./assets/images/img33.jpeg"},
                    {title:"Me Taking Selfi With My Mum And Dad Enjoying My Life",img:"./assets/images/img34.jpeg"},
                    {title:"Me taking selfi with the help of drone",img:"./assets/images/img35.jpeg"},
                    {title:"me invading my mums school (also call as TNC college)",img:"./assets/images/img36.jpeg"},
                    {title:"Me With My Mum",img:"./assets/images/img37.jpeg"},
                    {title:"Me Learning Science On The Beach With My Mum And Dad",img:"./assets/images/img38.jpeg"},
                    {title:"Me Going For An Adventure Ride With My Family",img:"./assets/images/img39.jpeg"},
                    {title:"Ooi Where Am I",img:"./assets/images/img40.jpeg"},
                    {title:"me while taking pushups",img:"./assets/images/img41.jpeg"},
                    {title:"Me And Mum With The Mean Face",img:"./assets/images/img42.jpeg"},
                    {title:"Me Destributing Busciates To Kids With My Papa",img:"./assets/images/img43.jpeg"},
                    {title:"It's An Food Fight With Kids",img:"./assets/images/img44.jpeg"},
                    {title:"I Have Being Waiting For This Moment For 1 Hole Years. finaly i cut that cake",img:"./assets/images/img45.jpeg"},
                    {title:"Time For Family Pic",img:"./assets/images/img46.jpeg"},
                    {title:"Ooi Who Is Taking The Pic",img:"./assets/images/img47.jpeg"},
                    {title:"Finaly I Jumpped Into The Poletics",img:"./assets/images/img48.jpeg"}
                ]
            }
        })

    </script>
</body>

</html>
